:root {
  --color-main: #69B0AC;
}

* {
  font-family: 微軟正黑體;
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #d1d1d1;
  border-top: solid 20px var(--color-main);
  border-bottom: solid 20px var(--color-main);
  
  box-sizing: border-box;
  
  overflow: hidden;
}

.namecard {
  width: 350px; height: 200px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  background-color: #eee;
  
  letter-spacing: 1px;  
  
/*   color: rgba(0,0,0,0.5); */
  color: #666;
  
  overflow: hidden;
  border: solid 1px rgba(0,0,0,0.15);
  border-radius: 6px;
  
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.namecard h2 {
  font-size: 25px;
  font-weight: 700;
}

.namecard h2 span {
  font-size: 12px;
}

.namecard h5 {
  color: var(--color-main);
  font-weight: 500;
}

.namecard p {
  font-size: 12px;
  line-height: 22px;
}

.mark {
  font-size: 300px;
  position: absolute;
/*   bottom: 100px; */
  font-weight: 100;
  color: rgba(0,0,0,0.04);
  transform: rotate(-15deg);
}

.mark span {
  letter-spacing: 60px;
}

.mark-first-line {
  top: 10px;
  left: 70px;
}

.mark-second-line {  
  bottom: 10px;
  right: -400px;
}

.diamond {
  width: 120px;
  height: 120px;
  position: absolute;
  
}

.diamond1 {
  width: 285px;
  height: 285px;
  border: double 4px rgba(105, 176, 172, 0.7);
  transform: rotate(45deg);
  left: -40px;
  top: -50px;
}

.diamond2 {
  width: 20px;
  height: 20px;
  border: solid 10px var(--color-main);
  transform: rotate(45deg);
  right: 30px;
  top: 30px;
}